<h1>Listing especimen</h1>

<table>
  <thead>
    <tr>
      <th>Genero</th>
      <th>Especie</th>
      <th>Observaciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @especimen.each do |especiman| %>
      <tr>
        
        <td><%= especiman.genero %></td>
        <td><%= especiman.especie %></td>
        <td><%= especiman.observaciones %></td>
        <td><%= link_to 'Show', especiman %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Especiman', new_especiman_path %>
