<p id="notice"><%= notice %></p>

<p>
  <strong>Nameuser:</strong>
  <%= @usuario.nameuser %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Crypted password:</strong>
  <%= @usuario.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @usuario.salt %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
